*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:#F5F9FF;
}
header{
    background:linear-gradient(
        135deg,
        #2563EB,
        #60A5FA
    );
    color:white;
    padding:25px 40px;
    box-shadow:0 4px 15px rgba(0,0,0,.15);
}
header h2{
    font-size:32px;
}
header p{
    margin-top:8px;
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;
}
.form-box{
    background:white;
    width:600px;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}
.form-box h1{
    color:#2563EB;
    margin-bottom:30px;

}
label{
    display:block;
    margin-top:20px;
    margin-bottom:8px;
    font-weight:bold;
}
input,
select{
    width:100%;
    padding:14px;
    border:1px solid #D1D5DB;
    border-radius:10px;
    font-size:15px;
    outline:none;
}
input:focus,
select:focus{
    border-color:#2563EB;
}
button{
    width:100%;
    margin-top:35px;
    padding:15px;
    background:#2563EB;
    color:white;
    border:none;
    border-radius:10px;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}
button:hover{
    background:#1D4ED8;
}
