<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expenses</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="header-text">
        <h2> Personal Financial Tracker </h2>
        <!-- <div>{{name}}</div> -->
        <p>Welcome to your dashboard.</p>
    </header>
<main>
    <aside>

        <h3>Menu</h3>
        <ul>
            <li><a href="{{ url_for('home') }}">Dashboard</a></li>
            <li><a href="{{ url_for('add_expense') }}">Add Expense</a></li>
            <li><a href="{{ url_for('history') }}">History</a></li>
            <li><a href="{{ url_for('analytics') }}">Analytics</a></li>
        </ul>
    
    </aside>

<section>
    <div class="container">

        <div class="form-box">
            <form action="/add_expense" method="POST">
                <label>Date</label>
                <input type="date" name="date" placeholder="Enter date" required>
                <label>Category</label>
                <input type="text" name="category" placeholder="Enter category" required>
                <label>Description</label>
                <input type="text" name="description" placeholder="Enter description" required>
                <label>Amount</label>
                <input type="number" name="amount" placeholder="Enter amount" required>
                <label>Mode of Payment</label>
                <input type="text" name="mode" placeholder="Enter mode of payment" required>

                <button type="submit">
                    Add Expense
                </button>

            </form>
        </div>


    </div>

</section>
</main>
</body>
</html>