<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
</head>
<body>
    <header class="header-text">
    <h2> Personal Financial Tracker </h2>
    <!-- <div>{{name}}</div> -->
    <p>Welcome to your dashboard.</p>
</header>

<main>
    <aside>

        <h3>Menu</h3>
        <ul>
            <li><a href="{{ url_for('home') }}">Dashboard</a></li>
            <li><a href="{{ url_for('add_expense') }}">Add Expense</a></li>
            <li><a href="{{ url_for('history') }}">History</a></li>
        </ul>
    
    </aside>
    
</body>
</html>